*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#first-section {
    background-color: #FFFFFF;
    /* border: 1px solid black;  */
    height: 92px;
    
    
}
#first-section .head-section {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
}
.head-section .first-logo {
    display: flex;
    align-items: center;
}
.head-section .first-logo img{
    width: 139px;
    height: auto;
}


#first-section .head-section .manu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    padding: 0;
    margin: 0;
    /* border: 1px solid black;  for work convenice */
}
#first-section .head-section .manu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.head-section .btn button {
    background-color: #469165;
    width: 164px;
    height: 44px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.head-section .btn button:hover{
    background-color: #02411c5f;
}


  #banner{
    background-image: url(../assets/hero-bg.png);
    height: 674px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
     background-size: cover;
} 
#banner .banner-container{
    max-width: 1360px;
    height: 379px;
    /* border: 1px solid red; */
    
}
.banner-container .banner-h4 {
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    width: 229px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1000px;
    margin-bottom: 16px;
    cursor: pointer;
    
    
}
.banner-container .banner-p1{
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-container .banner-span{
    color: #30B868;
    display: block;
    margin-bottom: 16px;
}
.banner-container .banner-p2 {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    width: 1360px;
    height: 60px;
    margin-bottom: 32px;
}



.button-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.button-1 button{
    width: 251px;
    height: 52px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
}
.button-2 button{
    width: 198px;
    height: 52px;
    background-color: #0a181000;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
}
.button-1 button:hover{
    background-color: #02411c5f;
}
.button-2 button:hover{
    background-color: #02411c5f;
}

#skills .skills-container{
    height: 652px;
}

#skills .section-heading {
    width: 1360px;
    height: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-bottom: 44px;
    
}

.section-heading .para-1{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading .para-2 {
    font-size: 16px;
    color: #627382;
}


.skills-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
    width: 1300px;
    height: auto;
    background-color: #ffffff5a;
    cursor: pointer;

}
.skills-box .skill-card{
    width: 322px;
    height: 300px;
    /* border: 1px solid red; */
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 8px #aeaaaa;
}
.skill-card .icon {
    width: 64px;
    height: 64px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.skills-box .skill-card img{
    background-color: #F95555;
    width: 32px;
    height: 32px;
}
.skills-box .skill-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #262f9a;
    margin-bottom: 16px;
}
.skills-box .skill-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


#brain-section  {
    height: 840px;
    /* border: 1px solid red; */
     display: flex;
    justify-content: center;
    align-items: center;
}

#brain-section .brain-container {
    width: 1360px;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.brain-image img{
    width: 600px;
    height: 600px;
}
.brain-writing{
    /* border: 1px solid black; */
    width: 700px;
    height: 396px;
}

.brain-writing .line-1 {
    font-size: 16PX;
    color: #30B868;
    margin-bottom: 16PX;
}
.brain-writing .line-2{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
}
.brain-writing span{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    margin-bottom: 16px;
}
.line-3{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.click{
    display: flex;
    gap: 6px;
    align-items: center;
} 

.click img{
    height: 20px;
    width: 20px;

}
.click .click-tik{
    font-size: 16px;
    line-height: 20px;
}

#class-10{
    height: 506px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-11{
    /* border: 1px solid red; */
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class12{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.class12 .class-13{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;

}
.class12 .class-14 {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

.downline{
    color: #627382;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.btn-2 {
    background-color: #469165;
    width: 194px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    
}
.btn-2:hover{
    background-color: #02411c5f;
}
.btn-2 img{
    width: 20px;
    height: 20px;
}
#footer-section {
    background-color: #001931;
    height: 348px;
    padding: 120px 120px 40px; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}
.footer-top {
    width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-img img{
    width: 139px;
    
}
.footer-icon{
    color: #F7F6F2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
}
.footer-icon .icons {
    gap: 10px;
    display: flex;
    justify-content: space-between;

}